

table {
	font-size: 80%;
}
#rcptbox img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.tdtrac-index .ui-bar {
    text-align: center;
}

.tdtrac-index p {
    font-weight: normal;
}

span.pending {
    color: #C3593C;
    font-weight: bold;
}

@media all and (min-width: 660px){
	#hours-user-show .ui-datebox-container { width: 80% !important;}
	#hours-user-show .ui-datebox-griddate { width: 14% !important; font-size: 24px; line-height: 50px; height: 50px;}
	#hours-user-show .ui-datebox-gridrow { margin-bottom: 10px; }
	#hours-user-show .ui-datebox-gridheader h4 { font-size: 1.5em; }
}
