/* TDTrac CSS Override File - v.4.0.0 */

table {
	font-size: 80%;
}
#rcptbox img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.tdtrac-index .ui-bar {
	text-align: center;
}

.tdtrac-index p {
	font-weight: normal;
}

span.pending {
	color: #C3593C;
	font-weight: bold;
}

div.tdtractitle {
	font: bold 1.8em "Trebuchet MS", Arial, Helvetica, sans-serif;
	letter-spacing: -1px; 
	padding: 2px 0 0 0px;
	margin: 0;
	color: #464548;
	text-align: center;
}

div.tdtractitle span.red {
	color: #C3593C;
}

div.content-secondary h4 {
	text-align: center;
	color: #444;
	margin-top: 4px;
	margin-bottom: 10px;
}
div.content-secondary {
	display: none;
}

div.content-primary form {
	display: inline-block;
	width: 100%;
}
div.content-primary form .ui-slider-switch {
	width: 8.8em;
}

.ui-page {
	-webkit-backface-visibility: hidden;
}

@media print {
	div[data-role='header'], div[data-role='footer'] {
		display: none;
	}
}
@media all and (min-width: 400px){
	#hours-user-show .ui-datebox-container { width: 90% !important; margin-right: auto; margin-left: auto;}
	#hours-user-show .ui-datebox-griddate { width: 14% !important; font-size: 24px; line-height: 50px; height: 50px;}
	#hours-user-show .ui-datebox-gridrow { margin-bottom: 10px; }
	#hours-user-show .ui-datebox-grid { clear: right; }
	#hours-user-show .ui-datebox-gridheader h4 { font-size: 1.5em; }
}
@media all and (max-width: 500px){
	.main-index-img h2 {
		white-space: normal;
	}
	.main-index-img img { 
		width: 70px;
	}
}
@media all and (min-width: 800px){
	div.content-secondary {
		display: inline-block;
		width: 250px;
		float: left;
	}
	div.content-primary {
		margin-left: 270px;
		margin-top: 50px;
	}
	.ui-body {
		clear: none !important;
	}
}

