
/* C
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-c,
.ui-page-theme-c .ui-bar-inherit,
html .ui-bar-c .ui-bar-inherit,
html .ui-body-c .ui-bar-inherit,
html body .ui-group-theme-c .ui-bar-inherit {
	background-color: #e9e9e9 /*{c-bar-background-color}*/;
	border-color: #dddddd /*{c-bar-border}*/;
	color: #333333 /*{c-bar-color}*/;
	text-shadow: 0 /*{c-bar-shadow-x}*/ 1px /*{c-bar-shadow-y}*/ 0 /*{c-bar-shadow-radius}*/ #eeeeee /*{c-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-c {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-c,
.ui-page-theme-c,
.ui-page-theme-c .ui-panel-wrapper {
	background-color: #f9f9f9 /*{c-page-background-color}*/;
	border-color: #bbbbbb /*{c-page-border}*/;
	color: #333333 /*{c-page-color}*/;
	text-shadow: 0 /*{c-page-shadow-x}*/ 1px /*{c-page-shadow-y}*/ 0 /*{c-page-shadow-radius}*/ #f3f3f3 /*{c-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-c,
.ui-page-theme-c .ui-body-inherit,
html .ui-bar-c .ui-body-inherit,
html .ui-body-c .ui-body-inherit,
html body .ui-group-theme-c .ui-body-inherit,
html .ui-panel-page-container-c {
	background-color: #ffffff /*{c-body-background-color}*/;
	border-color: #dddddd /*{c-body-border}*/;
	color: #333333 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #f3f3f3 /*{c-body-shadow-color}*/;
}
.ui-body-c {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-c a,
html .ui-bar-c a,
html .ui-body-c a,
html body .ui-group-theme-c a {
	color: #3388cc /*{c-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-c a:visited,
html .ui-bar-c a:visited,
html .ui-body-c a:visited,
html body .ui-group-theme-c a:visited {
    color: #3388cc /*{c-link-visited}*/;
}
.ui-page-theme-c a:hover,
html .ui-bar-c a:hover,
html .ui-body-c a:hover,
html body .ui-group-theme-c a:hover {
	color: #005599 /*{c-link-hover}*/;
}
.ui-page-theme-c a:active,
html .ui-bar-c a:active,
html .ui-body-c a:active,
html body .ui-group-theme-c a:active {
	color: #005599 /*{c-link-active}*/;
}
/* Button up */
.ui-page-theme-c .ui-btn,
html .ui-bar-c .ui-btn,
html .ui-body-c .ui-btn,
html body .ui-group-theme-c .ui-btn,
html head + body .ui-btn.ui-btn-c,
/* Button visited */
.ui-page-theme-c .ui-btn:visited,
html .ui-bar-c .ui-btn:visited,
html .ui-body-c .ui-btn:visited,
html body .ui-group-theme-c .ui-btn:visited,
html head + body .ui-btn.ui-btn-c:visited {
	background-color: #9ed09a /*{c-bup-background-color}*/;
	border-color: #567254 /*{c-bup-border}*/;
	color: #000000 /*{c-bup-color}*/;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #eeeeee /*{c-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-c .ui-btn:hover,
html .ui-bar-c .ui-btn:hover,
html .ui-body-c .ui-btn:hover,
html body .ui-group-theme-c .ui-btn:hover,
html head + body .ui-btn.ui-btn-c:hover {
	background-color: #b5efb1 /*{c-bhover-background-color}*/;
	border-color: #638361 /*{c-bhover-border}*/;
	color: #000000 /*{c-bhover-color}*/;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #eeeeee /*{c-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-c .ui-btn:active,
html .ui-bar-c .ui-btn:active,
html .ui-body-c .ui-btn:active,
html body .ui-group-theme-c .ui-btn:active,
html head + body .ui-btn.ui-btn-c:active {
	background-color: #b5efb1 /*{c-bdown-background-color}*/;
	border-color: #638361 /*{c-bdown-border}*/;
	color: #000000 /*{c-bdown-color}*/;
	text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #eeeeee /*{c-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-c .ui-btn.ui-btn-active,
html .ui-bar-c .ui-btn.ui-btn-active,
html .ui-body-c .ui-btn.ui-btn-active,
html body .ui-group-theme-c .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-c.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-c .ui-checkbox-on:after,
html .ui-bar-c .ui-checkbox-on:after,
html .ui-body-c .ui-checkbox-on:after,
html body .ui-group-theme-c .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-c:after,
/* Active flipswitch background */
.ui-page-theme-c .ui-flipswitch-active,
html .ui-bar-c .ui-flipswitch-active,
html .ui-body-c .ui-flipswitch-active,
html body .ui-group-theme-c .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-c.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-c .ui-slider-track .ui-btn-active,
html .ui-bar-c .ui-slider-track .ui-btn-active,
html .ui-body-c .ui-slider-track .ui-btn-active,
html body .ui-group-theme-c .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-c .ui-btn-active {
	background-color: #3388cc /*{c-active-background-color}*/;
	border-color: #1c4a70 /*{c-active-border}*/;
	color: #ffffff /*{c-active-color}*/;
	text-shadow: 0 /*{c-active-shadow-x}*/ 1px /*{c-active-shadow-y}*/ 0 /*{c-active-shadow-radius}*/ #005599 /*{c-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-c .ui-radio-on:after,
html .ui-bar-c .ui-radio-on:after,
html .ui-body-c .ui-radio-on:after,
html body .ui-group-theme-c .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-c:after {
	border-color: #3388cc /*{c-active-background-color}*/;
}
/* Focus */
.ui-page-theme-c .ui-btn:focus,
html .ui-bar-c .ui-btn:focus,
html .ui-body-c .ui-btn:focus,
html body .ui-group-theme-c .ui-btn:focus,
html head + body .ui-btn.ui-btn-c:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-c .ui-focus,
html .ui-bar-c .ui-focus,
html .ui-body-c .ui-focus,
html body .ui-group-theme-c .ui-focus,
html head + body .ui-btn-c.ui-focus,
html head + body .ui-body-c.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{c-active-background-color}*/;
}


/* D
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-d,
.ui-page-theme-d .ui-bar-inherit,
html .ui-bar-d .ui-bar-inherit,
html .ui-body-d .ui-bar-inherit,
html body .ui-group-theme-d .ui-bar-inherit {
	background-color: #e9e9e9 /*{d-bar-background-color}*/;
	border-color: #dddddd /*{d-bar-border}*/;
	color: #333333 /*{d-bar-color}*/;
	text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 0 /*{d-bar-shadow-radius}*/ #eeeeee /*{d-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-d {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-d,
.ui-page-theme-d,
.ui-page-theme-d .ui-panel-wrapper {
	background-color: #f9f9f9 /*{d-page-background-color}*/;
	border-color: #bbbbbb /*{d-page-border}*/;
	color: #333333 /*{d-page-color}*/;
	text-shadow: 0 /*{d-page-shadow-x}*/ 1px /*{d-page-shadow-y}*/ 0 /*{d-page-shadow-radius}*/ #f3f3f3 /*{d-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-d,
.ui-page-theme-d .ui-body-inherit,
html .ui-bar-d .ui-body-inherit,
html .ui-body-d .ui-body-inherit,
html body .ui-group-theme-d .ui-body-inherit,
html .ui-panel-page-container-d {
	background-color: #ffffff /*{d-body-background-color}*/;
	border-color: #dddddd /*{d-body-border}*/;
	color: #333333 /*{d-body-color}*/;
	text-shadow: 0 /*{d-body-shadow-x}*/ 1px /*{d-body-shadow-y}*/ 0 /*{d-body-shadow-radius}*/ #f3f3f3 /*{d-body-shadow-color}*/;
}
.ui-body-d {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-d a,
html .ui-bar-d a,
html .ui-body-d a,
html body .ui-group-theme-d a {
	color: #3388cc /*{d-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-d a:visited,
html .ui-bar-d a:visited,
html .ui-body-d a:visited,
html body .ui-group-theme-d a:visited {
    color: #3388cc /*{d-link-visited}*/;
}
.ui-page-theme-d a:hover,
html .ui-bar-d a:hover,
html .ui-body-d a:hover,
html body .ui-group-theme-d a:hover {
	color: #005599 /*{d-link-hover}*/;
}
.ui-page-theme-d a:active,
html .ui-bar-d a:active,
html .ui-body-d a:active,
html body .ui-group-theme-d a:active {
	color: #005599 /*{d-link-active}*/;
}
/* Button up */
.ui-page-theme-d .ui-btn,
html .ui-bar-d .ui-btn,
html .ui-body-d .ui-btn,
html body .ui-group-theme-d .ui-btn,
html head + body .ui-btn.ui-btn-d,
/* Button visited */
.ui-page-theme-d .ui-btn:visited,
html .ui-bar-d .ui-btn:visited,
html .ui-body-d .ui-btn:visited,
html body .ui-group-theme-d .ui-btn:visited,
html head + body .ui-btn.ui-btn-d:visited {
	background-color: #999999 /*{d-bup-background-color}*/;
	border-color: #545454 /*{d-bup-border}*/;
	color: #000000 /*{d-bup-color}*/;
	text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 0 /*{d-bup-shadow-radius}*/ #eeeeee /*{d-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-d .ui-btn:hover,
html .ui-bar-d .ui-btn:hover,
html .ui-body-d .ui-btn:hover,
html body .ui-group-theme-d .ui-btn:hover,
html head + body .ui-btn.ui-btn-d:hover {
	background-color: #afafaf /*{d-bhover-background-color}*/;
	border-color: #606060 /*{d-bhover-border}*/;
	color: #000000 /*{d-bhover-color}*/;
	text-shadow: 0 /*{d-bhover-shadow-x}*/ 1px /*{d-bhover-shadow-y}*/ 0 /*{d-bhover-shadow-radius}*/ #eeeeee /*{d-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-d .ui-btn:active,
html .ui-bar-d .ui-btn:active,
html .ui-body-d .ui-btn:active,
html body .ui-group-theme-d .ui-btn:active,
html head + body .ui-btn.ui-btn-d:active {
	background-color: #afafaf /*{d-bdown-background-color}*/;
	border-color: #606060 /*{d-bdown-border}*/;
	color: #000000 /*{d-bdown-color}*/;
	text-shadow: 0 /*{d-bdown-shadow-x}*/ 1px /*{d-bdown-shadow-y}*/ 0 /*{d-bdown-shadow-radius}*/ #eeeeee /*{d-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-d .ui-btn.ui-btn-active,
html .ui-bar-d .ui-btn.ui-btn-active,
html .ui-body-d .ui-btn.ui-btn-active,
html body .ui-group-theme-d .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-d.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-d .ui-checkbox-on:after,
html .ui-bar-d .ui-checkbox-on:after,
html .ui-body-d .ui-checkbox-on:after,
html body .ui-group-theme-d .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-d:after,
/* Active flipswitch background */
.ui-page-theme-d .ui-flipswitch-active,
html .ui-bar-d .ui-flipswitch-active,
html .ui-body-d .ui-flipswitch-active,
html body .ui-group-theme-d .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-d.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-d .ui-slider-track .ui-btn-active,
html .ui-bar-d .ui-slider-track .ui-btn-active,
html .ui-body-d .ui-slider-track .ui-btn-active,
html body .ui-group-theme-d .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-d .ui-btn-active {
	background-color: #3388cc /*{d-active-background-color}*/;
	border-color: #1c4a70 /*{d-active-border}*/;
	color: #ffffff /*{d-active-color}*/;
	text-shadow: 0 /*{d-active-shadow-x}*/ 1px /*{d-active-shadow-y}*/ 0 /*{d-active-shadow-radius}*/ #005599 /*{d-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-d .ui-radio-on:after,
html .ui-bar-d .ui-radio-on:after,
html .ui-body-d .ui-radio-on:after,
html body .ui-group-theme-d .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-d:after {
	border-color: #3388cc /*{d-active-background-color}*/;
}
/* Focus */
.ui-page-theme-d .ui-btn:focus,
html .ui-bar-d .ui-btn:focus,
html .ui-body-d .ui-btn:focus,
html body .ui-group-theme-d .ui-btn:focus,
html head + body .ui-btn.ui-btn-d:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-d .ui-focus,
html .ui-bar-d .ui-focus,
html .ui-body-d .ui-focus,
html body .ui-group-theme-d .ui-focus,
html head + body .ui-btn-d.ui-focus,
html head + body .ui-body-d.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{d-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{d-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{d-active-background-color}*/;
}


/* E
-----------------------------------------------------------------------------------------------------------*/
/* Bar: Toolbars, dividers, slider track */
.ui-bar-e,
.ui-page-theme-e .ui-bar-inherit,
html .ui-bar-e .ui-bar-inherit,
html .ui-body-e .ui-bar-inherit,
html body .ui-group-theme-e .ui-bar-inherit {
	background-color: #e9e9e9 /*{e-bar-background-color}*/;
	border-color: #dddddd /*{e-bar-border}*/;
	color: #333333 /*{e-bar-color}*/;
	text-shadow: 0 /*{e-bar-shadow-x}*/ 1px /*{e-bar-shadow-y}*/ 0 /*{e-bar-shadow-radius}*/ #eeeeee /*{e-bar-shadow-color}*/;
	font-weight: bold;
}
.ui-bar-e {
	border-width: 1px;
	border-style: solid;
}
/* Page and overlay */
.ui-overlay-e,
.ui-page-theme-e,
.ui-page-theme-e .ui-panel-wrapper {
	background-color: #f9f9f9 /*{e-page-background-color}*/;
	border-color: #bbbbbb /*{e-page-border}*/;
	color: #333333 /*{e-page-color}*/;
	text-shadow: 0 /*{e-page-shadow-x}*/ 1px /*{e-page-shadow-y}*/ 0 /*{e-page-shadow-radius}*/ #f3f3f3 /*{e-page-shadow-color}*/;
}
/* Body: Read-only lists, text inputs, collapsible content */
.ui-body-e,
.ui-page-theme-e .ui-body-inherit,
html .ui-bar-e .ui-body-inherit,
html .ui-body-e .ui-body-inherit,
html body .ui-group-theme-e .ui-body-inherit,
html .ui-panel-page-container-e {
	background-color: #ffffff /*{e-body-background-color}*/;
	border-color: #dddddd /*{e-body-border}*/;
	color: #333333 /*{e-body-color}*/;
	text-shadow: 0 /*{e-body-shadow-x}*/ 1px /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ #f3f3f3 /*{e-body-shadow-color}*/;
}
.ui-body-e {
	border-width: 1px;
	border-style: solid;
}
/* Links */
.ui-page-theme-e a,
html .ui-bar-e a,
html .ui-body-e a,
html body .ui-group-theme-e a {
	color: #3388cc /*{e-link-color}*/;
	font-weight: bold;
}
.ui-page-theme-e a:visited,
html .ui-bar-e a:visited,
html .ui-body-e a:visited,
html body .ui-group-theme-e a:visited {
    color: #3388cc /*{e-link-visited}*/;
}
.ui-page-theme-e a:hover,
html .ui-bar-e a:hover,
html .ui-body-e a:hover,
html body .ui-group-theme-e a:hover {
	color: #005599 /*{e-link-hover}*/;
}
.ui-page-theme-e a:active,
html .ui-bar-e a:active,
html .ui-body-e a:active,
html body .ui-group-theme-e a:active {
	color: #005599 /*{e-link-active}*/;
}
/* Button up */
.ui-page-theme-e .ui-btn,
html .ui-bar-e .ui-btn,
html .ui-body-e .ui-btn,
html body .ui-group-theme-e .ui-btn,
html head + body .ui-btn.ui-btn-e,
/* Button visited */
.ui-page-theme-e .ui-btn:visited,
html .ui-bar-e .ui-btn:visited,
html .ui-body-e .ui-btn:visited,
html body .ui-group-theme-e .ui-btn:visited,
html head + body .ui-btn.ui-btn-e:visited {
	background-color: #d09f9a /*{e-bup-background-color}*/;
	border-color: #725754 /*{e-bup-border}*/;
	color: #000000 /*{e-bup-color}*/;
	text-shadow: 0 /*{e-bup-shadow-x}*/ 1px /*{e-bup-shadow-y}*/ 0 /*{e-bup-shadow-radius}*/ #eeeeee /*{e-bup-shadow-color}*/;
}
/* Button hover */
.ui-page-theme-e .ui-btn:hover,
html .ui-bar-e .ui-btn:hover,
html .ui-body-e .ui-btn:hover,
html body .ui-group-theme-e .ui-btn:hover,
html head + body .ui-btn.ui-btn-e:hover {
	background-color: #efb6b1 /*{e-bhover-background-color}*/;
	border-color: #836461 /*{e-bhover-border}*/;
	color: #000000 /*{e-bhover-color}*/;
	text-shadow: 0 /*{e-bhover-shadow-x}*/ 1px /*{e-bhover-shadow-y}*/ 0 /*{e-bhover-shadow-radius}*/ #eeeeee /*{e-bhover-shadow-color}*/;
}
/* Button down */
.ui-page-theme-e .ui-btn:active,
html .ui-bar-e .ui-btn:active,
html .ui-body-e .ui-btn:active,
html body .ui-group-theme-e .ui-btn:active,
html head + body .ui-btn.ui-btn-e:active {
	background-color: #efb6b1 /*{e-bdown-background-color}*/;
	border-color: #836461 /*{e-bdown-border}*/;
	color: #000000 /*{e-bdown-color}*/;
	text-shadow: 0 /*{e-bdown-shadow-x}*/ 1px /*{e-bdown-shadow-y}*/ 0 /*{e-bdown-shadow-radius}*/ #eeeeee /*{e-bdown-shadow-color}*/;
}
/* Active button */
.ui-page-theme-e .ui-btn.ui-btn-active,
html .ui-bar-e .ui-btn.ui-btn-active,
html .ui-body-e .ui-btn.ui-btn-active,
html body .ui-group-theme-e .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-e.ui-btn-active,
/* Active checkbox icon */
.ui-page-theme-e .ui-checkbox-on:after,
html .ui-bar-e .ui-checkbox-on:after,
html .ui-body-e .ui-checkbox-on:after,
html body .ui-group-theme-e .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-e:after,
/* Active flipswitch background */
.ui-page-theme-e .ui-flipswitch-active,
html .ui-bar-e .ui-flipswitch-active,
html .ui-body-e .ui-flipswitch-active,
html body .ui-group-theme-e .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-e.ui-flipswitch-active,
/* Active slider track */
.ui-page-theme-e .ui-slider-track .ui-btn-active,
html .ui-bar-e .ui-slider-track .ui-btn-active,
html .ui-body-e .ui-slider-track .ui-btn-active,
html body .ui-group-theme-e .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-e .ui-btn-active {
	background-color: #3388cc /*{e-active-background-color}*/;
	border-color: #1c4a70 /*{e-active-border}*/;
	color: #ffffff /*{e-active-color}*/;
	text-shadow: 0 /*{e-active-shadow-x}*/ 1px /*{e-active-shadow-y}*/ 0 /*{e-active-shadow-radius}*/ #005599 /*{e-active-shadow-color}*/;
}
/* Active radio button icon */
.ui-page-theme-e .ui-radio-on:after,
html .ui-bar-e .ui-radio-on:after,
html .ui-body-e .ui-radio-on:after,
html body .ui-group-theme-e .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-e:after {
	border-color: #3388cc /*{e-active-background-color}*/;
}
/* Focus */
.ui-page-theme-e .ui-btn:focus,
html .ui-bar-e .ui-btn:focus,
html .ui-body-e .ui-btn:focus,
html body .ui-group-theme-e .ui-btn:focus,
html head + body .ui-btn.ui-btn-e:focus,
/* Focus buttons and text inputs with div wrap */
.ui-page-theme-e .ui-focus,
html .ui-bar-e .ui-focus,
html .ui-body-e .ui-focus,
html body .ui-group-theme-e .ui-focus,
html head + body .ui-btn-e.ui-focus,
html head + body .ui-body-e.ui-focus {
	-webkit-box-shadow: 0 0 12px #3388cc /*{e-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #3388cc /*{e-active-background-color}*/;
	box-shadow: 0 0 12px #3388cc /*{e-active-background-color}*/;
}


