/**
 * TDTrac Main Program CSS
 * 
 * Contains all layout css rules. Fluid layout, fully mobile ready.
 * @package tdtrac
 * @version 2.0.0
 * @author J.T.Sage <jtsage@gmail.com>
 */


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}


/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 42px;
	line-height: 48px;
	letter-spacing: -1px;
	text-shadow: #6374AB 2px 2px 2px;
}

.large, h2 {
	font-size: 26px;
	line-height: 36px;
}

.big, h3, h4 {
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	margin-left: 10px;
}

.normal, body {
	font: 16px/24px Helvetica, Arial, sans-serif;
}

.small {
	font-size: 13px;
	line-height: 18px;
} 

.dRed {
	color: #990000;
	font-weight: bold;
}

.dGrn {
	color: green;
}

dt { font-weight: bold; }
dd { margin-left: 1em; }

div.installer {
	margin-left: 15%;
	font-size: 1.5em;
}
div.installer ul {
	margin-left: 20px;
	margin-bottom: 10px;
	font-size: .8em;
}


/*	Default 8-column layout
	60 px columns, 24 px gutters, 60 px margins, 768 px total
	---------------------------------------------------------
	1     2      3      4      5      6      7      8     
	60px  144px  228px  312px  396px  480px  564px  648px	*/

body {
	background: rgb(232,232,232);
	background-image: url(/images/tdtracbg.gif);
	padding: 84px 60px 0;
	width: 648px;
	-webkit-tap-highlight-color: rgb(255,255,0);
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

::selection 	 	{background: rgb(255,255,0);}
::-moz-selection 	{background: rgb(255,255,0);}
img::selection 		{background: transparent;}
img::-moz-selection {background: transparent;}

.red { color: #C3593C; }
.logoclose { letter-spacing: -.1em; }

#outer {
	width: 100%;
	box-shadow: 10px 10px 5px #888;
	background: white;
	border-radius: .75em;
}

a 		{ color: #4A8EBC; font-weight: bold; font-size: .95em; text-decoration: underline; }
a:hover { text-decoration: none; }

#header				{ background-image: url(/images/tdtrachdr.png); background-position: bottom -70px; background-repeat: no-repeat; border-radius: .75em .75em 0 0;}
#headercontent		{ text-align: right; margin-right: 5px; }
#headercontent sup	{ font-weight: normal; font-size: 55%; margin-left: .3em; }
#headercontent h3	{ margin: 0; font-weight: normal; font-size: 16px; }
#search 			{ position: absolute; top: 0px; right: 0px; }
#search input		{ border-radius: .5em; }
#footer 			{ text-align: center; color: grey; background-color: #F4F4F4; }
#footer .right		{ text-align: right; }

/* DROP MENU BY DEFAULT - HIDE ON SMALL DISPLAY */
#menu			{ text-align: center; height: 44px; border-bottom: 1px solid #888; margin-bottom: 1em; background-color: #464548; box-shadow: #6374AB 0px 2px 2px; }
ul.topnav		{ list-style: none; float: left;}
ul.topnav li	{ display: inline; position: relative; float: left;}
ul.topnav li div.menubut {
	float: left;
	position: relative;
	background-color: #C85E35;
	padding: .35em .4em;
	margin: .35em .19em;
	border-radius: .75em;
	box-shadow: 0px 0px 6px #888;
}
ul.topnav a 	{ 
	float: left;
	color: #FFFCD1;
	text-decoration: none;
}
ul.topnav li div.menubut:hover	{ box-shadow: 0px 0px 6px #FFF; text-decoration: underline; }
ul.topnav li div.active			{ box-shadow: 0px 0px 6px #DDD; }
ul.topnav li span { 
    width: 7px;  
    height: 29px; 
    margin-top: -5px; 
    margin-left: 2px;
    float: left;  
    background: url(/images/subnav_btn.gif) no-repeat center top;  
}  
ul.topnav li span.subhover {background-position: center -35px; cursor: pointer;}
ul.topnav li ul.subnav {  
	list-style: none;  
	position: absolute;
	left: 20px; top: 42px;  
	background: #6E6E6E;  
	font-size: .8em;
	display: none;  
	float: left;
	width: 170px; 
	z-index: 15; 
}  
ul.topnav li ul.subnav li				{ border-top: 1px solid #252525; border-bottom: 1px solid #444; width: 170px; }  
html ul.topnav li ul.subnav li a		{ float: left; width: 170px; }  
html ul.topnav li ul.subnav li a:hover	{ background: #021736; }   


div.genform fieldset {
	text-align: right;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

div.genform legend {
	font-size: 2em;
	text-align: left;
	text-shadow: #6374AB 2px 2px 2px;
}

div.genform {
	text-align: right;
	margin-right: 10px;
	margin-left: auto;
	width: 500px;
	padding-bottom: 10px;
	margin-top: 5px;
}

div.genform label {
	margin-right: .5em;
}
div.genform label.money:after {
	content: " $";
	font-weight: bold;
}
div.genform input {
	border-radius: 1em;
	background-color: #fffacd;
	background: -webkit-gradient(linear, left top, left bottom, from(#fffacd), to(#ddd9ab));
	box-shadow: 3px 3px 3px #818181;
	padding: 1%;
	border: 2px solid #ddd;
}
div.genform select, div.genform option {
	background-color: #fffacd;
	width: 288px;
	border: none;
	border-radius: 1em;
}
div.genform select {
	width: 300px;
}

div.genform input[type=text], div.genform input[type=password] {
	width: 289px;
	padding-left: 15px;
}
#loginform input.subbie, div.genform input.subbie {
	background: #C85E35;
	border: none;
	border-radius: .75em;
	box-shadow: 0px 0px 6px #888;
	padding: .35em .4em;
	color: #FFFCD1;
	font-weight: bold;
}
div.genform .frmele {
	padding-bottom: 5px;
}

#help dt { font-weight: bold; }
#help dd { margin-left: 1em; line-height: 1.2em; }
#help ul { margin-left: 2em; }

ul.linklist		{ list-style: none; margin-bottom: 2em; }
ul.linklist h3	{ font-weight: bold; }
ul.linklist li	{ line-height: 2.0em; margin-left: 1.5em; font-size: .9em; }
ul.datalist		{ list-style: none; margin-bottom: 1em; }
ul.datalist li	{ line-height: 1.2em; margin-left: 1.5em; font-weight: normal; }

dl.dashboard	{ float: left; color: white; margin: 8px; padding: 6px; width: 290px; font-size: .9em; background-color: #C85E35; border-radius: 1em; box-shadow: 2px 2px 6px #888; }
dl.dashboard a	{ color : #FFFCD1; }
dl.dashboard dt	{ font-weight: bold; }
dl.dashboard dd { font-size: .9em; margin-left: 10px; }

#dashfloat { display: none; }

#dashmenu { clear: both; margin-top: 2em; }
#dashmenu ul.linklist { background-color: #6E6E6E; color: white; width: 290px; float: left; margin: 8px; padding: 6px; border: 1px solid black; border-radius: 1em;}
#dashmenu ul.linklist li { font-size: .85em; }
#dashmenu ul.linklist li ul { width: auto; border: none; margin: 0; padding: 0;}
#dashmenu a { color: #FFFCD1; }

div.infobox		{ background-color: #6E6E6E; color: white; width: 290px; margin-left: auto; margin-right: auto; margin-top: 8px; margin-bottom: 8px; padding: 6px; border-radius: 1em; box-shadow: 2px 2px 6px #888; text-align: center; }
div.infobox a	{ color: white; font-weight: bold; }

span.overright {
	float: right; 
	text-align: right;
	margin-top: -1.5em;
	padding-right: .5em;
}

span.upright {
	text-align: right;
	margin-bottom: 0em;
	margin-right: 1%;
	display: block;
}

table {
	margin-left: 4%; 
	border: 1px solid grey;
	width: 92%;
}

table.permtable th { border: 1px solid grey; }
table.permtable td { border: 1px solid #F3F3F3; }

table.datatable {
	margin-top: 1em;
	font-size: 12px;
	border: 2px solid #ddd;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #818181;
	width: 99%;
	margin-left: .5%;
	margin-bottom: 4em;
	border-collapse: collapse;
}

table.datatable th.actions			{ width: 96px; }
table.datatable th					{ border-bottom: 2px solid #ddd; }
table.datatable td 					{ padding-left: 1px; }
table.datatable tr:nth-child(odd)	{ background-color: #ccc; }
table.datatable tr:nth-child(1)		{ background-color: white; }
table.datatable .datatotal			{ background-color: #FFAAAA !important; height: 2em; border-top: 2px solid #ccc; }
table.datatable .datasubtotal		{ background-color: #FFDDDD !important; height: 1.6em; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; }
table.datatable .tododone			{ background-color: #AAFFAA !important; }
table.datatable .tododue			{ background-color: #FF8888 !important; }
table.datatable img.ticon			{ border: none; }

#rcptbox		{ margin-left: auto; margin-right: auto; text-align: center; margin-bottom: 1em; }
#rcptbox img	{ border: none; }

/*	13-column layout
	60 px columns, 24 px gutters, 72 px margins, 1212 px total (extra space for scrollbars)
	---------------------------------------------------------------------------------------
	1     2      3      4      5      6      7      8      9      10     11     12     13
	60px  144px  228px  312px  396px  480px  564px  648px  732px  816px  900px  984px  1068px	*/

@media only screen and (min-width: 1212px) {
	
	body {
		padding: 110px 72px 0;
		width: 1068px;
	}
	ul.topnav li div.menubut {
		margin: .35em .5em;
	}
	ul.topnav li div.menubut span {
		margin-left: 5px;
		margin-right: 5px;
	}
	ul.topnav li div.menubut a {
		font-weight: bold;
	}
	ul.topnav li div.menubut a:before {
		content: "[-";
		font-weight: normal;
	}
	ul.topnav li div.menubut a:after {
		content: "-]";
		font-weight: normal;
	}
	dl.dashboard { width: 320px; }
	#dashmenu ul.linklist { width: 320px; }
	#dashfloat { z-index: 10; top: 20px; left: 3%; position: absolute; display: block;}
	#header { background-position: bottom left; }
	#rcptbox { float: left; margin-left: 80px; }
	
}


/*	5-column layout
	60 px columns, 24 px gutters, 42 px margins, 480 px total
	---------------------------------------------------------
	1     2      3      4      5
	60px  144px  228px  312px  396px	*/

@media only screen and (max-width: 767px) and (min-width: 480px) {
	
	body {
		padding: 60px 42px 0;
		width: 396px;
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%; 
	}
	#header { background-position: bottom -220px; }
	#headercontent h3 { font-size: .7em; }
	#menu { height: 1.3em; }
	ul.topnav li div.menubut {
		font-size: .8em;
		float: left;
		position: relative;
		background-color: inherit;
		padding: 0 2px;
		margin: 0;
		border-radius: 0;
		box-shadow: none; }
	ul.topnav li div.menubut:hover, ul.topnav li div.active	{ box-shadow: none; }
	ul.topnav li span { display: none; }
	ul.subnav { display: none; }
	
	div.genform {
		width: 98%;
		margin-left: 1%;
	}
	div.genform label {
		width: 85%;
		margin-left: 5%;
		text-align: left;
		display: block;
	}
	dl.dashboard { width: 365px; }
	#dashmenu ul.linklist { width: 365px; }
	table.permtable { font-size: .68em; width: 100%; margin: 0; border-spacing: 0; border-collapse: collapse; }
	table.datatable td.budget-table-2, table.datatable th.budget-table-2 { display: none; }
	table.datatable td.budget-table-5, table.datatable th.budget-table-5 { display: none; }
}


/*	3-column layout
	60 px columns, 24 px gutters, 46 px margins, 320 px total
	---------------------------------------------------------
	1     2      3
	60px  144px  228px	*/

@media only screen and (max-width: 479px) {
	
	body {
		padding: 48px 46px 0;
		width: 228px;
		/* Prevents Mobile Safari from bumping up font sizes in landscape */
		-webkit-text-size-adjust: 100%;
	}
	#header { background-image: none; }
	#headercontent h3 { display: none; }
	#headercontent h2 { display: none; }
	#headercontent h1 { text-align: center; font-size: 36px; }
	#headercontent h1 sup { display: none; }
	#footer { font-size: .75em; }
	#menu			{ height: auto; font-size: .8em;}
	ul.topnav		{ float: none;}
	ul.topnav li	{ display: block; position: static; float: none;}
	ul.topnav li div.menubut {
		float: none;
		position: static;
		padding: 0;
		margin: 0;
		background-color: inherit;
		border-radius: 0;
		box-shadow: none;
	}
	ul.topnav a 	{ 
		float: none;
	}

	ul.topnav li div.menubut:hover, ul.topnav li div.active	{ box-shadow: none; }
	ul.topnav li span { display: none; }
	ul.subnav { display: none; }
	div.genform {
		width: 98%;
		margin-left: 1%;
	}
	div.genform label {
		width: 85%;
		margin-left: 0;
		text-align: left;
		display: block;
		font-size: .8em;
	}
	div.genform legend {
		font-size: 1.2em;
		text-shadow: #6374AB 1px 1px 2px;
	}
	div.genform input[type=text], div.genform input[type=password] {
		width: 85%;
	}
	div.genform select, div.genform option {
		width: 194px; /* aka 85% */
	}
	ul.linklist { font-size: .9em; }
	dl.dashboard { width: 200px; }
	dl.dashboard dd { font-size: .7em; }
	#dashmenu ul.linklist { width: 200px; }
	#dashmenu ul.linklist li { margin: 0; }
	
	span.overright { margin: 0; }
	div.infobox { width: 200px; font-size: .9em; }
	table.permtable { display: none; }
	table.datatable { display: none; }
	
	#rcptbox { font-size: .9em; }
	#rcptbox #rcptimg { width: 228px; }
	#rcptbox #rcptcontrol img { width: 40px; }
}
