/* CSS Document */

body{
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background-color: #FFFFFF;
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
}

.nav{
background-image:url(images/header.gif);
background-repeat:repeat-xl;
height:37px;}

.nav_holder{
	width:760px;
	margin-left:auto;
	margin-right:auto;
	height:37px;
}

#menu {
	float: left;
	margin: 0;
	padding: 0;
	}
#menu li {
	list-style-type: none;
	display: inline;		
	float: left;	
	}	
#menu li a {
	text-decoration: none;
	border: none;
	color: #FFFFFF;
	font-weight:bold;
	padding-top: 8px;		
	display: block;	
	margin: 0 15px;		
	}		
#menu li.on a {
background-image:url(images/selected_nav.gif);
background-repeat:no-repeat;
background-position: center 33px;
padding-bottom:15px;
	color: #fff;
	}
#menu li a:hover { color: #D9FFCC; 
background-image:url(images/selected_nav-run.gif);
background-repeat:no-repeat;
background-position: center 33px;
padding-bottom:15px;}	

.main_holder{
	width:760px;
	margin-left:auto;
	margin-right:auto;
	background-color: #FFFFFF;
}

.site_name{
	height:50px;
	padding-left:35px;
	font-size:28px;
	padding-top: 20px;
	background-image: url(images/logo.gif);
	background-repeat: no-repeat;
	background-position: 6px 25px;
}

.focus{
	background-image:url(images/sample.gif);
	background-repeat:no-repeat;
	text-align:center;
	color:#FFFFFF;
	font-size:24px;
	font-weight:bold;
	height:92px;
	width:165px;
	padding-top:28px;
	padding-bottom:auto;

}
.banner{
height:103px;
background-image:url(images/banner.gif);
background-repeat:no-repeat;}

.main_left{
	width:540px;
	padding-left:15px;
	float: left;
	padding-right: 15px;
	border-right: solid #EAEAEA 1px;
}

.main_right{
	float:right;
	width: 175px;
	font-size: 11px;
	padding-top: 18px;
	padding-right: 10px;
}

.content_block{
margin-top:15px;}

h2{
	background-image:url(images/dots.gif);
	background-repeat: repeat-x;
	background-position: 0px 25px;
	color: #03C102;
	font-weight: normal;
	font-size: 20px;
	padding-bottom: 5px;
	margin-bottom: -10px;
}

h3{
	color: #03C102;
	font-weight: bold;
	font-size: 12px;
	text-transform:uppercase;
	height: 14px;
	padding-left: 34px;
	background-repeat: no-repeat;
	margin-bottom: 0px;
	background-image: url(images/h3.gif);
	background-position: bottom;
}

.footer{
	height:35px;
	background-image:url(images/footer.gif);
	background-repeat:no-repeat;
	margin-top: 10px;
	clear: both;
	border-top: 5px solid #713E7B;
	padding-top: 20px;
	text-align: center;
}

#infobox {
  width: 300px;
  border: 1px solid black;
  background-color: #99BBFF;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

div.frmele { text-align: right; }

#budget {
  width: 100%;
  border: 1px solid black;
  margin-top: 2em;
}

#budget td {
  border: 1px solid black; 
  margin: 1px;
}

#budget tr.odd { 
  background-color: #ccc;
}

a, a:link a:visited{
color:#32A57A;
font-weight:bold;
text-decoration:none;}

a:hover{
color:#20684E;}
